@model JooleProject.Models.CascadingModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    @using (Html.BeginForm("Test", "Search", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.Category_ID, Model.Categories, "Please select", new { onchange = "document.forms[0].submit();" })
        <br />
        <br />

        @Html.DropDownListFor(m => m.SubCategory_ID, Model.SubCategories, "Please select", new { disabled = "disabled" })
        <br />
        <br />
        @*
            @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select", new { disabled = "disabled" })
        *@
        <br />
        <br />
        <input type="submit" value="Submit" />
    }
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($("#SubCategory_ID option").length > 1) {
                $("#SubCategory_ID").removeAttr("disabled");
            }

            @*if ($("#CityId option").length > 1) {
                $("#CityId").removeAttr("disabled");
            }*@

            if ($("#Category_ID").val() != "" && $("#SubCategory_ID").val() != "" && $("#CityId").val() != "") {
                var message = "Category: " + $("#Category_ID option:selected").text();
                message += "\nSubCategory: " + $("#SubCategory_ID option:selected").text();
                @*message += "\nCity: " + $("#CityId option:selected").text();*@
                alert(message);
            }
        });
    </script>
</body>
</html>

