
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        @foreach (var t in ViewBag.t)
        {
            <p>t</p>
        }
    </div>
</body>
</html>
