@model JooleProject.Models.CascadingModel

<link rel="stylesheet" href="~/Content/JooleStyles/SearchBar.css">

@using (Html.BeginForm("_Search", "Search", FormMethod.Post, new { id = "SearchForm" }))
{
    <div class="search-container">
        @Html.DropDownListFor(m => m.Category_ID, Model.Categories, "Category", new { @class = "category-list" })

        @Html.DropDownListFor(m => m.SubCategory_ID, Model.SubCategories, "Search...", new { @class = "subcategory-list" })
        @*
            @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select", new { disabled = "disabled" })
        *@

        <button type="submit" class="submitbutton"><i class="fa fa-search"></i></button>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#Category_ID").change(function () {
                this.form.submit();
            });

            if ($("#SubCategory_ID option").length > 1)
            {
                $("#SubCategory_ID").removeAttr("disabled");
            }

            @*if ($("#CityId option").length > 1) {
                $("#CityId").removeAttr("disabled");
            }*@

            if ($("#Category_ID").val() != "" && $("#SubCategory_ID").val() != "" && $("#CityId").val() != "")
            {
                var message = "Category: " + $("#Category_ID option:selected").text();
                message += "\nSubCategory: " + $("#SubCategory_ID option:selected").text();
                @* message += "\nCity: " + $("#CityId option:selected").text();*@
                var subcategoryname = $("#SubCategory_ID option:selected").text();
                var url = "/SearchProduct/SearchResult?subCategory=" + subcategoryname;

@*                alert(message);*@
                window.location.href = url;
            }
        });
</script>